stdout.txt
stderr.txt
*.EXE
.vscode/ipch/*
build/*
nssi/*
*.FIL
JSLOG.txt
sys-include/*
*.zip
duktape-2.5.0/djgpp/
*.pyc
*.o
*.a
*.d
dzcomm/obj/djgpp/asmdef.s
doc/
dexport.c
*.dxe
jSH-cppcheck-build-dir/
*.undef
